@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
@layer utilities {
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .animate-gradientBG {
    background: linear-gradient(-45deg, #ff6ec4, #7873f5, #4adede, #5ee7df);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }
}

@layer utilities {
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .animate-gradientBG {
    background: linear-gradient(-45deg, #ff6ec4, #7873f5, #4adede, #5ee7df);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}
